body {
  background: #fde9d4;
  width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #ffffff;
  border-radius: 28px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.preparation-time {
  background-color: rgb(233, 189, 233);
  border-radius: 20px;
}

.card h2 {
  font-size: 1.3rem;
  align-items: center;
  display: flex;
  color: purple;
}

.card-items ul li p {
  font-size: 14px;
}

.card-items ul li p span {
  font-weight: bold;
}

.preparation-time .card {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.ingredients {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.ingredients h2 {
  color: #b8653b;
}

.ingredients ul li {
  font-size: 16px;
}

.instrutions {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.instrutions h2 {
  color: #b8653b;
}

.instrutions ul li {
  list-style: decimal;
  margin-bottom: 12px;
}

.instrutions ul li span {
  font-weight: bold;
}

.nutrition h2 {
  color: #b8653b;
}

.table .table-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

@media (width: 100%) {
  .container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .omlette-title h1 {
    font-size: 29px;
  }
}
